.main-header {
	margin: 1em 0;
	text-align: center;
}
.logo {
	font-size: 1.5em;
	line-height: 1;
	margin: 0 0 .25em;
	a {
		text-decoration: none;
	}
}
.main-nav {
	font-size: 1em;
	line-height: 1.5;
	ul {
		@extend .inline-list;
	}
}
.logo a,
.main-nav a {
	&:visited {
		color: $link-color;
	}
	&:hover, &:focus {
		color: $link-color-active;
	}
}

@include media-query($small) {
	.main-header {
		text-align: left;
	}
	.logo {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		margin: 0;
	}
	.main-nav {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		text-align: right;
	}
}