<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">#222222</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555555;"></span>
		<span class="sg-label">#555555</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999999;"></span>
		<span class="sg-label">#999999</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dddddd;"></span>
		<span class="sg-label">#dddddd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cc2200;"></span>
		<span class="sg-label">#cc2200</span>
	</li>
</ul>