*/patternlab/.sass-cache
*/patternlab/config
*/patternlab/core
*/patternlab/css
*/patternlab/extras
*/patternlab/public
/statamic/cms/_add-ons
/statamic/cms/admin
/statamic/cms/_app
/statamic/cms/_cache
/statamic/cms/_logs
/statamic/cms/_config/translations
/statamic/cms/_config/users
/statamic/cms/_config/dashboard.yaml
/statamic/cms/_config/index.html
/statamic/cms/_config/routes.yaml
/statamic/cms/_config/settings.yaml
/statamic/cms/_config/settings.yaml.sample
/statamic/cms/_config/vanity.yaml.sample
/statamic/cms/_config/add-ons
/statamic/cms/_config/bundles
/statamic/cms/_config/environments
/statamic/cms/sample.gitignore
/statamic/cms/.htaccess
/statamic/cms/admin.php
/statamic/cms/index.php
/jekyll/cms/_site
