/patternlab/.sass-cache
/patternlab/config
/patternlab/core
/patternlab/css
/patternlab/extras
/patternlab/public
/statamic/_add-ons
/statamic/admin
/statamic/_app
/statamic/_cache
/statamic/_logs
/statamic/_config/translations
/statamic/_config/users
/statamic/_config/dashboard.yaml
/statamic/_config/index.html
/statamic/_config/routes.yaml
/statamic/_config/settings.yaml
/statamic/_config/settings.yaml.sample
/statamic/_config/vanity.yaml.sample
/statamic/_config/add-ons
/statamic/_config/bundles
/statamic/_config/environments
/statamic/sample.gitignore
/statamic/.htaccess
/statamic/admin.php
/statamic/index.php
