<div class="feature">
	<img src="{{img_src}}" alt="{{img_alt}}" /><!--
	--><div class="feature-text">
		<h2>{{heading}}</h2>
		<p>{{text}}</p>
		<a class="more-link" href="{{link}}">Learn More</a>
	</div>
</div>