<div class="feature">
	<img src="{{img_src}}" alt="{{img_alt}}" /><!--
	--><div class="feature-text">
		<h2>{{title}}</h2>
		<p>{{summary}}</p>
		<a class="more-link" href="{{url}}">Learn More</a>
	</div>
</div>