<article>
	<h1 class="post-title">{{post.title}}</h1>
	<div class="post-metadata">
		<date class="post-date">{{post.date}}</date> {{! date:"F j, Y" }}
	</div>
	<div class="post-body">
		{{{post.content}}}
	</div>
</article>