.hero {
	background-color: $popout-section-bg;
	color: $popout-section-text-color;
	text-align: center;
	padding: 3em 2em;

	h1 {
		margin-top: 0;
	}

	.cta {
		font-size: 1.2em;
	}
}

.feature {
	img {
		margin: 0 auto;
	}
	h2 {
		margin: .5em 0;
	}

	@include media-query($small) {
		img {
			width: 35%;
			margin-right: 5%;
			display: inline-block;
			vertical-align: middle;
		}
		.feature-text {
			width: 60%;
			display: inline-block;
			vertical-align: middle;
		}
		h2 {
			margin-top: 0;
		}
	}
}