ul, ol {
	padding-left: 1em;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		padding: 0;
	}
}

.inline-list {
	@extend .unstyled-list;
	li {
		display: inline-block;
		margin-right: 1em;
		&:last-child {
			margin-right: 0;
		}
	}
}