.post-title {
	margin-bottom: 0;
}
.post-metadata {
	color: $text-color-medium;
}

.article-list article {
	border-bottom: $border;
	margin-bottom: 2em;
	padding-bottom: 2em;
	&:last-child {
		border:none;
		padding-bottom: 0;
	}
}