<article>
	<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
	<div class="post-metadata">
		<date class="post-date">{{date}}</date> {{! date:"F j, Y" }}
	</div>
	<div class="post-excerpt">
		<p>{{excerpt}}</p>
	</div>
	<a class="more-link" href="{{url}}">Read More</a>
</article>