/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button {
	display: inline-block;
	background: $button-bg;
	color: $button-text-color;
	line-height: 1;
	font-weight: bold;
	border: 0;
	text-align: center;
	text-decoration: none;
	padding: $space/2 $space;
	border-radius: 5px;
	
	&:hover, &:focus {
		background: $button-bg-active;
		color: $button-text-color;
	}
	&:visited {
		color: $button-text-color;
	}
}