/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$page-title-color: #cc2200;
$heading-color: #333333;
$text-color: #222222;
$text-color-medium: #666666;
$link-color: #cc2200;
$link-color-visited: #555555;
$link-color-active: #000000;
$button-bg: #cc2200;
$button-bg-active: #000000;
$button-text-color: #ffffff;
$popout-section-bg: #dddddd;
$popout-section-text-color: #000000;
$border-color: #999999;


//Borders
$border: 1px solid $border-color;


//Typography
$font : Georgia, serif;
$heading-font : Verdana, sans-serif;


//Layout
$max-width: 72em;

//Defaults
$space : 1em;


//Breakpoints
$small: 400px;